[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/JoyontaSaha
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/JoyontaSaha
	label-Verified = -1..+1 group user/JoyontaSaha
	push = group user/JoyontaSaha
	read = group user/JoyontaSaha
	rebase = group user/JoyontaSaha
	removeReviewer = group user/JoyontaSaha
	submit = group user/JoyontaSaha
[access "refs/heads/*"]
	create = group user/JoyontaSaha
	push = +force group user/JoyontaSaha
	pushMerge = group user/JoyontaSaha
	read = group user/JoyontaSaha
[access "refs/tags/*"]
	push = group user/JoyontaSaha
	push = +force group user/JoyontaSaha
